#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&caps_word { continue-list = <UNDERSCORE MINUS>; };

&lt {
    tapping-term-ms = <150>;
    quick-tap-ms = <200>;
    flavor = "balanced";
    require-prior-idle-ms = <125>;
};

&mt {
    tapping-term-ms = <150>;
    quick-tap-ms = <200>;
    flavor = "balanced";
    require-prior-idle-ms = <125>;
};

/ {
    behaviors {
        hml: home_row_mod_left {
            display-name = "Home Row Mod (Left)";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <5 7 6 8 9 19 30 31 18 17 16 15 26 28 27 29 37 36 35 34 33 32>;
        };

        hmr: home_row_mod_right {
            display-name = "Home Row Mod (Right)";
            compatible = "zmk,behavior-hold-tap";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 14 13 12 11 10 20 21 22 23 24 25 32 33 34 35 36 37>;
        };

        hll: home_row_layer_tap_left {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <5 6 7 9 31 19 29 18 17 8 16 15 26 27 28 30 37 36 35 34 33 32>;
        };

        hlr: home_row_layer_tap_right {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <4 3 2 1 0 20 10 11 21 12 13 14 23 22 24 25 32 33 34 35 36 37>;
        };

        mm_cq: mod_morph_cmma_qmark {
            display-name = "Comma-Question Mark";
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp QMARK>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_cs: mod_morph_colon_semi {
            display-name = "Colon-Semi";
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp COLON>, <&kp SEMI>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_de: mod_morph_dot_excl {
            display-name = "Period-Exclamation Mark";
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp EXCL>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_ft: mod_morph_fslh_tild {
            display-name = "Forward Slash-Tilde";
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp FSLH>, <&kp TILDE>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_1p: mod_morph_n1_pipe {
            display-name = "N1-Pipe";
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N1>, <&kp PIPE>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_9g: mod_morph_n9_grave {
            display-name = "N9-Grave";
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N9>, <&kp GRAVE>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_0b: mod_morph_n0_bslh {
            display-name = "N0-Back Slash";
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N0>, <&kp BSLH>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_ll: mod_morph_lpar_lt {
            display-name = "Left Parentheses-Less Than";
            compatible = "zmk,behavior-mod-morph";
            bindings = <&kp LPAR>, <&kp LT>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_rg: mod_morph_rpar_gt {
            display-name = "Right Parentheses-Greater Than";
            compatible = "zmk,behavior-mod-morph";
            bindings = <&kp RPAR>, <&kp GT>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        ht_as: hold_tap_autoshift {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&sh>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
        };

        ht_cq: hold_tap_cmma_qmark {
            display-name = "Comma-Question Mark (Hold-Tap)";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&mm_cq>;

            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
        };

        ht_cs: hold_tap_colon_semi {
            display-name = "Colon-Semi (Hold-Tap)";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&mm_cs>;

            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
        };

        ht_de: hold_tap_dot_excl {
            display-name = "Period-Exclamation Mark (Hold-Tap)";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&mm_de>;

            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
        };

        ht_ft: hold_tap_fslh_tild {
            display-name = "Forward Slash-Tilde (Hold-Tap)";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&mm_ft>;

            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
        };

        ht_1p: hold_tap_n1_pipe {
            display-name = "N1-Pipe (Hold-Tap)";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&mm_1p>;

            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
        };

        ht_9g: hold_tap_n9_grave {
            display-name = "N9-Grave (Hold-Tap)";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&mm_9g>;

            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
        };

        ht_0b: hold_tap_n0_bslh {
            display-name = "N0-Back Slash (Hold-Tap)";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&mm_0b>;

            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
        };

        ht_ll: hold_tap_lpar_lt {
            display-name = "Left Parentheses-Less Than (Hold-Tap)";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&mm_ll>;

            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
        };

        ht_rg: hold_tap_rpar_gt {
            display-name = "Right Parentheses-Greater Than (Hold-Tap)";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&mm_rg>;

            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
        };
    };

    macros {
        as: autoshift {
            display-name = "Autoshift";
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_press>,
                <&macro_param_1to1 &macro_param_1to2 &ht_as MACRO_PLACEHOLDER MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &macro_param_1to2 &ht_as MACRO_PLACEHOLDER MACRO_PLACEHOLDER>;
        };

        sh: shifted_keypress {
            display-name = "Shifted Keypress";
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_press>,
                <&kp LSHFT &macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER &kp LSHFT>;
        };

        as_cq: autoshift_cmma_qmark {
            display-name = "Comma-Question Mark (Autoshift)";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&ht_cq QMARK 0>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&ht_cq QMARK 0>;
        };

        as_cs: autoshift_colon_semi {
            display-name = "Colon-Semi (Autoshift)";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&ht_cs SEMI 0>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&ht_cs SEMI 0>;
        };

        as_de: autoshift_dot_excl {
            display-name = "Period-Exclamation Mark (Autoshift)";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&ht_de EXCL 0>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&ht_de EXCL 0>;
        };

        as_ft: autoshift_fslh_tild {
            display-name = "Forward Slash-Tilde (Autoshift)";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&ht_ft TILDE 0>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&ht_ft TILDE 0>;
        };

        as_1p: autoshift_n1_pipe {
            display-name = "N1-Pipe (Autoshift)";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&ht_1p PIPE 0>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&ht_1p PIPE 0>;
        };

        as_9g: autoshift_n9_grave {
            display-name = "N9-Grave (Autoshift)";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&ht_9g GRAVE 0>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&ht_9g GRAVE 0>;
        };

        as_0b: autoshift_n0_bslh {
            display-name = "N0-Back Slash (Autoshift)";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&ht_0b BSLH 0>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&ht_0b BSLH 0>;
        };

        as_ll: as_ll {
            compatible = "zmk,behavior-macro";
            display-name = "Left Parentheses-Lest Than (Autoshift)";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&ht_ll LT 0>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&ht_ll LT 0>;
        };

        as_rg: autoshift_rpar_gt {
            compatible = "zmk,behavior-macro";
            display-name = "Right Parentheses-Greater Than (Autoshift)";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&ht_rg GT 0>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&ht_rg GT 0>;
        };

        qu: qu {
            display-name = "qu";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Q &kp U>;
        };
    };

    combos {
        compatible = "zmk,combos";

        base {
            bindings = <&to 0>;
            key-positions = <0 1>;
        };

        game {
            bindings = <&to 4>;
            key-positions = <4 5>;
            layers = <0>;
        };

        btctrl_l {
            bindings = <&sl 3>;
            key-positions = <3 2>;
        };

        btctrl_r {
            bindings = <&sl 3>;
            key-positions = <8 9>;
        };

        qu {
            bindings = <&qu>;
            key-positions = <13 14>;
            layers = <0>;
        };

        lbrc {
            bindings = <&kp LBRC>;
            key-positions = <14 26>;
            layers = <0>;
        };

        lbkt {
            bindings = <&kp LBKT>;
            key-positions = <15 27>;
            layers = <0>;
        };

        lpar {
            bindings = <&kp LPAR>;
            key-positions = <16 28>;
            layers = <0>;
        };

        lt {
            bindings = <&kp LT>;
            key-positions = <17 29>;
            layers = <0>;
        };

        gt {
            bindings = <&kp GT>;
            key-positions = <18 30>;
            layers = <0>;
        };

        rpar {
            bindings = <&kp RPAR>;
            key-positions = <19 31>;
            layers = <0>;
        };

        rbkt {
            bindings = <&kp RBKT>;
            key-positions = <20 32>;
            layers = <0>;
        };

        rbrc {
            bindings = <&kp RBRC>;
            key-positions = <21 33>;
            layers = <0>;
        };

        launcher_l {
            bindings = <&kp LG(SPACE)>;
            key-positions = <26 28>;
        };

        launcher_r {
            bindings = <&kp RG(SPACE)>;
            key-positions = <31 33>;
        };

        lpipe {
            bindings = <&kp PIPE>;
            key-positions = <29 41>;
        };

        rpipe {
            bindings = <&kp PIPE>;
            key-positions = <30 44>;
        };

        lbslh {
            bindings = <&kp BSLH>;
            key-positions = <28 40>;
        };

        rbslh {
            bindings = <&kp BSLH>;
            key-positions = <31 45>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "base";
            bindings = <
&kp F1               &kp F2         &kp F3          &kp F4  &kp F5            &kp F6                                             &kp F7          &kp F8            &kp F9  &kp F10         &kp F11        &kp F12
&kp TAB              &kp Q          &kp W           &kp F   &kp P             &kp B                                              &kp J           &kp L             &kp U   &kp Y           &as APOS       &as BSLH
&kp ESC              &hml LGUI A    &hml LALT R     &kp S   &hll 1 T          &kp G                                              &kp M           &hlr 2 N          &kp E   &hmr LALT I     &hmr RGUI O    &as SEMI
&sk LSHFT            &kp Z          &kp X           &kp C   &kp D             &kp V            &as LBKT           &as RBKT       &kp K           &kp H             &as_cq  &as_de          &as_ft         &sk RSHFT
&mt PSCRN LC(PSCRN)  &mt END PG_DN  &mt HOME PG_UP  &as_ll  &mt LC(LALT) ESC  &mt LCTRL SPACE  &mt LSHFT TAB      &mt LSHFT RET  &mt RCTRL BSPC  &mt RC(LALT) DEL  &as_rg  &mt HOME PG_UP  &mt END PG_DN  &mt PSCRN RC(PSCRN)
            >;
        };

        nav {
            display-name = "navigation";
            bindings = <
&none  &none           &none            &none      &none  &none                                                  &none            &none          &none      &none      &none    &none
&none  &none           &none            &as BSLH   &none  &none                                                  &kp PSCRN        &kp RC(PSCRN)  &none      &none      &none    &none
&none  &hml LGUI SEMI  &hml LALT GRAVE  &kp COLON  &none  &none                                                  &kp LEFT         &kp DOWN       &kp UP     &kp RIGHT  &none    &none
&none  &none           &none            &kp PIPE   &none  &none            &none                &none            &kp HOME         &kp PG_DN      &kp PG_UP  &kp END    &kp INS  &none
&none  &none           &none            &none      &none  &mt LCTRL UNDER  &mt LSHFT MINUS      &mt RSHFT MINUS  &mt RCTRL UNDER  &none          &none      &none      &none    &none
            >;
        };

        num {
            display-name = "number";
            bindings = <
&none  &none   &none     &none     &none      &none                                                  &none            &none  &none      &none            &none          &none
&none  &none   &kp FSLH  &kp PLUS  &kp EQUAL  &none                                                  &none            &none  &as BSLH   &none            &none          &none
&none  &as_1p  &as N2    &as N3    &as N4     &as N5                                                 &none            &none  &kp COLON  &hmr LALT GRAVE  &mt RGUI SEMI  &none
&none  &as N6  &as N7    &as N8    &as_9g     &as_0b           &none                &none            &none            &none  &kp PIPE   &none            &none          &none
&none  &none   &none     &none     &none      &mt LCTRL UNDER  &mt LSHFT MINUS      &mt RSHFT MINUS  &mt RCTRL UNDER  &none  &none      &none            &none          &none
            >;
        };

        fun {
            display-name = "fun";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                      &trans        &trans        &trans        &trans        &trans          &trans
&trans  &trans  &trans  &trans  &trans  &trans                      &trans        &trans        &trans        &trans        &trans          &trans
&trans  &trans  &trans  &trans  &trans  &trans                      &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans        &trans        &trans        &bt BT_CLR    &bt BT_CLR_ALL  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans        &trans        &trans        &trans        &trans          &trans
            >;
        };

        game_l {
            display-name = "game";
            bindings = <
&kp GRAVE  &kp N1    &kp N2    &kp N3         &kp N4        &kp N5                                             &kp N6          &kp N7        &kp N8     &kp N9    &kp N0    &kp MINUS
&kp MINUS  &kp T     &kp Q     &kp W          &kp E         &kp R                                              &kp Y           &kp U         &kp I      &kp O     &kp P     &kp EQUAL
&kp EQUAL  &kp G     &kp A     &kp S          &kp D         &kp F                                              &kp H           &kp J         &kp K      &kp L     &kp SEMI  &kp APOS
&kp COMMA  &kp B     &kp Z     &kp X          &kp C         &kp V            &kp M              &kp RGUI       &kp N           &kp M         &kp COMMA  &kp DOT   &kp FSLH  &kp BSLH
&kp DOT    &kp LBKT  &kp RBKT  &mt LGUI BSPC  &mt LALT ESC  &mt LCTRL SPACE  &mt LSHFT TAB      &mt RSHFT RET  &mt RCTRL BSPC  &mt LALT DEL  &kp LEFT   &kp DOWN  &kp UP    &kp RIGHT
            >;
        };

        game_r {
            display-name = "emag";
            bindings = <
&kp GRAVE  &kp N6     &kp N7   &kp N8         &kp N9        &kp N0                                        &kp N6     &kp N7   &kp N8         &kp N9        &kp N0           &kp GRAVE
&kp MINUS  &kp Y      &kp U    &kp I          &kp O         &kp P                                         &kp Y      &kp U    &kp I          &kp O         &kp P            &kp MINUS
&kp EQUAL  &kp H      &kp J    &kp K          &kp L         &kp SEMI                                      &kp H      &kp J    &kp K          &kp L         &kp SEMI         &kp EQUAL
&kp LBKT   &kp N      &kp M    &kp COMMA      &kp DOT       &kp FSLH         &kp DEL            &kp LBKT  &kp N      &kp M    &kp COMMA      &kp DOT       &kp FSLH         &kp DEL
&kp RBKT   &kp COMMA  &kp DOT  &mt LGUI BSPC  &mt LALT ESC  &mt LCTRL SPACE  &mt LSHFT TAB      &kp RBKT  &kp COMMA  &kp DOT  &mt LGUI BSPC  &mt LALT ESC  &mt LCTRL SPACE  &mt LSHFT TAB
            >;
        };
    };
};
