//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE 0
#define GAME 1
#define LWR  2
#define RSE  3
#define MSE  4
#define LMEH (MOD_LCTL | MOD_LSFT | MOD_LALT)
#define RMEH (MOD_RCTL | MOD_RSFT | MOD_RALT)

&lt { tapping-term-ms = <175>; };

&mt {
    tapping-term-ms = <175>;
    flavor = "tap-preferred";
};

&mmv {
    time-to-max-speed-ms = <680>;
    acceleration-exponent = <2>;
};

/ {
    combos {
        compatible = "zmk,combos";

        c_to_base {
            bindings = <&to 0>;
            key-positions = <0 1>;
            layers = <1>;
        };

        c_to_game {
            bindings = <&to 1>;
            key-positions = <2 3>;
            layers = <0>;
        };
    };

    behaviors {
        cwt: caps_word_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "Caps Word Tap";
            bindings = <&kp>, <&caps_word>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
        };

        td: tapdance {
            compatible = "zmk,behavior-hold-tap";
            label = "TAPDANCE";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
        };

        hrm: homerow_mod {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MOD";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <175>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
        };

        sft_del: shift_delete {
            compatible = "zmk,behavior-mod-morph";
            label = "SHIFT_DELETE";
            bindings = <&kp BSPC>, <&kp DEL>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        lsd: layer_shift_delete {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_SHIFT_DELETE";
            bindings = <&mo>, <&sft_del>;

            #binding-cells = <2>;
            tapping-term-ms = <175>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        base {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            display-name = "base";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┏━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓   ┏━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
            //             ┃       Q       ┃       W       ┃       F       ┃       P       ┃       G       ┃   ┃       J       ┃       L       ┃       U       ┃       Y       ┃       ;       ┃
            //             ┣━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━┫   ┣━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━┫
            //             ┃       A       ┃       R       ┃       S       ┃       T       ┃       D       ┃   ┃       M       ┃       N       ┃       E       ┃       I       ┃       O       ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━┫   ┣━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃     Q     ┃       Z       ┃       X       ┃       C       ┃       V       ┃       B       ┃   ┃       K       ┃       H       ┃       ,       ┃       .       ┃       /       ┃     \     ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━┫   ┣━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                             ┃      DEL      ┃      TAB      ┃      SPC      ┃   ┃     ENTER     ┃     BSPC      ┃      DEL      ┃
            //                                             ┗━━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━━┛   ┗━━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━━┛

            bindings = <
       &kp Q  &kp W  &kp F        &kp P                   &kp B         &kp J     &kp L         &kp U            &kp Y         &sft_del
       &kp A  &kp R  &hrm LALT S  &hrm LCTRL T            &kp G         &kp M     &hrm RCTRL N  &hrm RALT E      &kp I         &kp O
&to 4  &kp Z  &kp X  &kp C        &kp D                   &kp V         &kp K     &kp H         &td MINUS COMMA  &td EXCL DOT  &td UNDER FSLH  &to 3
                     &none        &mt LS(LC(LALT)) SPACE  &sk LSHIFT    &sk RGUI  &to 2         &none
            >;
        };

        game {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            display-name = "game";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┏━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓   ┏━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
            //             ┃       Q       ┃       W       ┃       F       ┃       P       ┃       G       ┃   ┃       J       ┃       L       ┃       U       ┃       Y       ┃       ;       ┃
            //             ┣━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━┫   ┣━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━┫
            //             ┃       A       ┃       R       ┃       S       ┃       T       ┃       D       ┃   ┃       H       ┃       N       ┃       E       ┃       I       ┃       O       ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━┫   ┣━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃     Q     ┃       Z       ┃       X       ┃       C       ┃       V       ┃       B       ┃   ┃       K       ┃       M       ┃       ,       ┃       .       ┃       /       ┃     \     ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━┫   ┣━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                             ┃      DEL      ┃      TAB      ┃      SPC      ┃   ┃     ENTER     ┃     BSPC      ┃      DEL      ┃
            //                                             ┗━━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━━┛   ┗━━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━━┛

            bindings = <
       &kp Q  &kp W  &kp F          &kp P           &kp B              &kp J          &kp L          &kp U            &kp Y         &td DQT SQT
       &kp A  &kp R  &kp S          &kp T           &kp G              &kp M          &kp N          &kp E            &kp I         &kp O
&kp Q  &kp Z  &kp X  &kp C          &kp D           &kp V              &kp K          &kp H          &td MINUS COMMA  &td EXCL DOT  &td UNDER FSLH  &td DQT SQT
                     &mt LCTRL ESC  &mt LALT SPACE  &mt LSHFT SPACE    &mt LSHFT RET  &mt LALT BSPC  &mt LCTRL DEL
            >;
        };

        sym {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            display-name = "left";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┏━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓   ┏━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
            //             ┃       {       ┃       &       ┃       *       ┃       (       ┃       }       ┃   ┃     HOME      ┃     PG_DN     ┃     PG_UP     ┃      END      ┃      INS      ┃
            //             ┣━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━┫   ┣━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━┫
            //             ┃       :       ┃       $       ┃       %       ┃       ^       ┃       +       ┃   ┃     LEFT      ┃     DOWN      ┃      UP       ┃     RIGHT     ┃     PSCRN     ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━┫   ┣━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃     {     ┃       ~       ┃       !       ┃       @       ┃       #       ┃       |       ┃   ┃  CTRL+SHFT+Z  ┃    CTRL+V     ┃    CTRL+C     ┃    CTRL+X     ┃    CTRL+Z     ┃    INS    ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━┫   ┣━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                             ┃       (       ┃       )       ┃       _       ┃   ┃     ENTER     ┃     BSPC      ┃      DEL      ┃
            //                                             ┗━━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━━┛   ┗━━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━━┛

            bindings = <
       &kp ESC    &kp AT      &td LC(LA(PSCRN)) HASH  &td LC(PSCRN) DLLR  &kp PRCNT     &kp CARET      &kp AMPS  &kp STAR  &td COLON SEMI  &sft_del
       &kp TAB    &kp EQUAL   &kp LA(RBKT)            &kp LS(LA(RBKT))    &kp SQT       &td HOME BSLH  &kp LBRC  &kp RBRC  &td END PIPE    &kp RET
&to 5  &kp TILDE  &kp LA(N3)  &kp LA(LBKT)            &kp LA(LS(LBKT))    &kp DQT       &kp LBKT       &kp LPAR  &kp RPAR  &kp RBKT        &td RC(GRAVE) GRAVE  &to 4
                              &none                   &to 0               &kp LSHIFT    &kp RALT       &to 3     &none
            >;

            label = "sym";
        };

        num {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            display-name = "right";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┏━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓   ┏━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
            //             ┃     PSCRN     ┃   SCRL_LEFT   ┃   SCRL_DOWN   ┃    SCRL_UP    ┃   SCRL_RIGHT  ┃   ┃   SCRL_LEFT   ┃   SCRL_DOWN   ┃    SCRL_UP    ┃   SCRL_RIGHT  ┃     PSCRN     ┃
            //             ┣━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━┫   ┣━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━┫
            //             ┃      MB5      ┃      MB4      ┃      MB3      ┃      MB2      ┃      MB1      ┃   ┃      MB1      ┃      MB2      ┃      MB3      ┃      MB4      ┃      MB5      ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━┫   ┣━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃   PSCRN   ┃    CTRL+Z     ┃    CTRL+X     ┃    CTRL+C     ┃    CTRL+V     ┃  CTRL+SHFT+Z  ┃   ┃  CTRL+SHFT+Z  ┃    CTRL+V     ┃    CTRL+C     ┃    CTRL+X     ┃    CTRL+Z     ┃   PSCRN   ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━┫   ┣━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                             ┃               ┃               ┃               ┃   ┃               ┃               ┃               ┃
            //                                             ┗━━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━━┛   ┗━━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━━┛

            bindings = <
       &trans  &kp C_PP  &kp C_PREV    &kp C_NEXT    &kp UNDER    &kp MINUS  &kp N7  &kp N8  &kp N9  &trans
       &trans  &trans    &kp C_VOL_DN  &kp C_VOL_UP  &kp PLUS     &kp EQUAL  &kp N4  &kp N5  &kp N6  &kp ENTER
&to 2  &trans  &kp AMPS  &kp FSLH      &kp STAR      &kp DOT      &kp N0     &kp N1  &kp N2  &kp N3  &trans     &to 5
                         &none         &to 0         &sk LCTRL    &sk RALT   &to 4   &none
            >;

            label = "num";
        };

        nav {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            display-name = "nav";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┏━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓   ┏━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
            //             ┃       [       ┃       7       ┃       8       ┃       9       ┃       ]       ┃   ┃      F15      ┃      F7       ┃      F8       ┃      F9       ┃      F12      ┃
            //             ┣━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━┫   ┣━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━┫
            //             ┃       ;       ┃       4       ┃       5       ┃       6       ┃       =       ┃   ┃      F14      ┃      F4       ┃      F5       ┃      F6       ┃      F11      ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━┫   ┣━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃     [     ┃       `       ┃       1       ┃       2       ┃       3       ┃       \       ┃   ┃      F13      ┃      F1       ┃      F2       ┃      F3       ┃      F10      ┃           ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━┫   ┣━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                             ┃       .       ┃       0       ┃       -       ┃   ┃     ENTER     ┃     BSPC      ┃      DEL      ┃
            //                                             ┗━━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━━┛   ┗━━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━━┛

            bindings = <
       &trans  &msc SCRL_LEFT  &mmv MOVE_UP    &msc SCRL_RIGHT  &td Q H                     &kp RC(LBKT)  &kp RG(RS(TAB))  &kp RG(TAB)  &kp RC(RBKT)  &trans
       &trans  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &kp DEL                     &kp LEFT      &kp DOWN         &kp UP       &kp RIGHT     &trans
&to 3  &trans  &mkp MB2        &msc SCRL_UP    &msc SCRL_DOWN   &td LG(PLUS) LG(LS(DOT))    &mkp MB1      &kp PG_DN        &kp PG_UP    &trans        &trans  &to 2
                               &trans          &to 0            &trans                      &trans        &to 5            &trans
            >;

            label = "nav";
        };

        sys {
            bindings = <
       &trans        &trans        &trans        &trans        &bt BT_CLR      &kp F11  &kp F12  &kp F13  &kp F14  &kp F15
       &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &kp F6   &kp F7   &kp F8   &kp F9   &kp F10
&to 4  &trans        &trans        &trans        &trans        &trans          &kp F1   &kp F2   &kp F3   &kp F4   &kp F5   &to 3
                                   &trans        &to 0         &trans          &trans   &to 2    &trans
            >;

            label = "sys";
        };
    };
};
