/**
 * Alpha Layer - Colemak-DH
 */


/ {
    keymap {
        compatible = "zmk,keymap";

        colemak_dh_layer {
		    compatible = "zmk,keymap";
            bindings = <
//                 ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
//                 │0              │1              │2              │3              │4              │   │5              │6              │7              │8              │9              │
                    &kp Q           &kp W           &kp F           &kp P           &kp B               &kp J           &kp L           &kp U           &kp Y           &as SQT
//                 ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┤
//                 │10             │11             │12             │13             │14             │   │15             │16             │17             │18             │19             │
                    &hrml LGUI A    &hrml LALT R    &kp S           &hrll 1 T       &kp G               &kp M           &hrlr 1 N       &kp E           &hrmr LALT I    &hrmr RGUI O
// ╭───────────────┬───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┬───────────────╮
//  20             │21             │22             │23             │24             │25             │   │26             │27             │28             │29             │30             │31             │
    &csl 2          &kp Z           &kp X           &kp C           &kp D           &kp V               &kp K           &kp H           &as_cq          &as_de          &as_cs          &csl 2
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
//                                                 │32             │33             │34             │   │35             │36             │37             │
                                                    &kp ESC         &mt LCTRL SPACE &smart_num 1 0      &smart_num 1 0  &smart_shift    &kp GRAVE
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
            >;
		};
    };
};
