/**
 * Function / System Layer
 */

/ {
    keymap {
        compatible = "zmk,keymap";
  
        fn_layer {
            display-name = "Fn";
            bindings = <
//                 ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
//                 │0              │1              │2              │3              │4              │   │5              │6              │7              │8              │9              │
                    &kp F11         &kp F12         &kp F13         &kp F14         &kp F15             &trans          &trans          &kp C_SLEEP     &kp C_RESET     &kp C_POWER
//                 ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┤
//                 │10             │11             │12             │13             │14             │   │15             │16             │17             │18             │19             │
                    &kp F1          &kp F2          &kp F3          &kp F4          &kp F5              &trans          &trans          &trans          &trans          &rst_boot 0 0
// ╭───────────────┬───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┬───────────────╮
//  20             │21             │22             │23             │24             │25             │   │26             │27             │28             │29             │30             │31             │
    &cmo 2          &kp F6          &kp F7          &kp F8          &kp F9          &kp F10             &sk LS(LC(LALT)) &sk LSHFT      &sk LCTRL       &sk LALT        &sk LGUI        &cmo 2
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
//                                                 │32             │33             │34             │   │35             │36             │37             │
                                                    &kp C_BRI_DN    &kp C_BRI_UP    &cmo 1              &cmo 1          &kp CAPSLOCK    &trans
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
            >;
		};
	};
};
