/**
 * Numeric, Navigation and Symbols Layer
 */

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_2 {
            display-name = "L2";
            bindings = <
//                 ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
//                 │0              │1              │2              │3              │4              │   │5              │6              │7              │8              │9              │
                    &sk LGUI        &sk LALT        &sk LCTRL       &sk LSHIFT      &sk LS(LC(LALT))    &kp HOME        &kp PG_DN       &kp PG_UP       &kp END         &kp INS
//                 ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┤
//                 │10             │11             │12             │13             │14             │   │15             │16             │17             │18             │19             │
                    &as_1p          &as N2          &as N3          &as N4          &as N5              &kp LEFT        &kp DOWN        &kp UP          &kp RIGHT       &trans
// ╭───────────────┬───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┬───────────────╮
//  20             │21             │22             │23             │24             │25             │   │26             │27             │28             │29             │30             │31             │
    &csl 2          &as N6          &as N7          &as N8          &as_9p          &as_0e              &kp PSCRN       &kp LC(PSCRN)   &trans          &trans          &trans          &csl 2
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
//                                                 │32             │33             │34             │   │35             │36             │37             │
                                                    &trans          &trans          &cmo 1              &cmo 1          &trans          &trans
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
            >;
		};
	};
};
