/**
 * Numeric, Navigation and Symbols Layer
 */

/ {
    keymap {
        compatible = "zmk,keymap";

        num {
            display-name = "num";
            bindings = <
//                 ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
//                 │0              │1              │2              │3              │4              │   │5              │6              │7              │8              │9              │
                    &trans          &trans          &trans          &trans          &num_word 1         &trans          &trans          &trans          &trans          &trans          
//                 ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┤
//                 │10             │11             │12             │13             │14             │   │15             │16             │17             │18             │19             │
                    &as_1p          &as N2          &as N3          &as N4          &as N5              &trans          &trans          &trans          &trans          &trans          
// ╭───────────────┬───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┬───────────────╮
//  20             │21             │22             │23             │24             │25             │   │26             │27             │28             │29             │30             │31             │
    &trans          &as N6          &as N7          &as N8          &as_9p          &as_0e              &trans          &trans          &trans          &trans          &trans          &trans
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
//                                                 │32             │33             │34             │   │35             │36             │37             │
                                                    &trans          &trans          &trans              &trans          &trans          &trans
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
            >;
		};
	};
};
